@tailwind base;
@tailwind components;
@tailwind utilities;

html,body, #root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background: rgb(238,174,202);
    background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1); */
    /* background-color: black; */
    

    background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 32%, rgba(137, 0, 212, 1) 68%, rgba(238, 130, 238, 1) 86%); 

    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 32%, rgba(137, 0, 212, 1) 68%, rgba(238, 130, 238, 1) 86%);

    background: -o-linear-gradient(90deg, rgba(0, 0, 0, 1) 32%, rgba(137, 0, 212, 1) 68%, rgba(238, 130, 238, 1) 86%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EE82EE', endColorstr='#000000', GradientType=0 );

    background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 1) 32%, rgba(137, 0, 212, 1) 68%, rgba(238, 130, 238, 1) 86%);

    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 32%, rgba(137, 0, 212, 1) 68%, rgba(238, 130, 238, 1) 86%);

}


@font-face {
    font-family: honeybee-font;
    src: url(/honeybee-font/Honeybeeregular-MG0p.ttf);
}

.text_heading{
    font-family:honeybee-font ;
    color:brown ;
    font-weight: bold;
    text-decoration:overline;
}

.text_para{
    font-family:honeybee-font ;
    color:grey ;
    font-weight: bold;
    margin-left: 10px;
}

.container_header {
    transform: translate3d(0,-20px,0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.image_tabs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translate3d(0,-30px,0);
}

.image-screen {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0 1px;

    width: 200px;
    height: 55vh;
    overflow-x:hidden;
    overflow-y: scroll;
    cursor: pointer;
}

.image-screen::-webkit-scrollbar {
    width: 0.4rem;
}

.image-screen::-webkit-scrollbar-track {
    background-color: transparent;
}

.image-screen::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.image-tab {
    width: 200px;
   
}
.image-screen:hover {
    animation: glowing 1.5s infinite;;
}

.wrapper {
    margin: 0;
    padding:0;
    overflow: hidden;
}
.cta__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: honeybee-font;
    color: brown;
}
.cta__container-form {
    display: absolute;
    transform: translate3d(0,-20%,0);
    padding-top: 10px;
    animation: glowing 1.5s infinite;
}
.cta__container h1 {
    font-size: 35px;
    padding-top: 5px;
    text-decoration: underline;
}
.container__name {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: start;
    justify-content: space-between;

}
.container__span {
    font-size: 20px;
    font-weight: 700;
    color: rgb(83, 76, 76);
}
.container__input {
    background-color: #f3d4e3;
    outline: none;
    border: 1px solid #a2b4fc;
    border-radius: 5px;
    font-family:sans-serif ;
}
.in_area{
    resize: none;
}
.in_area::-webkit-scrollbar{
    display: none;
}
.cta__container-form button {
    cursor: pointer;
    outline: none;
    background-color:#f3d4e3;
    border: 1px solid #a2b4fc;
    padding: 2px 10px;
    border-radius: 2px;
    color:rgb(83, 76, 76);
}

.dis__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 5px solid black;
    animation: glowing 1.5s infinite;
    
}
.dis__container img {
    width: 100%;
    height: 100%;
}










@keyframes glowing {
    0% {
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.6);
    }
    
    50% {
      box-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.6);
    }
}


